/* "COMP CONNECTION HUB" font */
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
/* "COMP CONNECTION HUB" font */

body {
    padding: 0;
    margin: 0;
} 
/* Nav Bar */
#logo{
    font-family: 'Monomaniac One', sans-serif;
    font-size: 200%;
}
#comp-connection{
    color:#0077B6;
}
#hub{
   color: #03045E; 
}
#nav-links{
    margin-left:auto;
    margin-right: auto;
}

.nav-link:hover{
    color:#0077B6
}
.navbar{
    padding: 1em; 
    font-size: 1em; 
}
/* End of Nav bar */ 

h1{
    color: #03045E; 
    letter-spacing: 1px;  
    font-size: 3em; 
}

.btn-green {
    background-color: #06d6a0;
}

.btn-green:hover{
    background-color: #caf0f8;
}
.btn-yellow {
    background-color: #ffd60a;
}

.btn-yellow:hover {
    background-color: #caf0f8;
}


.card {
  padding: 20px;
  height: 40em;
  position: relative;
  line-height: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow */
} 
   
/* .card:hover {
    box-shadow: 0 12px 20px #03045e;
    transition: box-shadow 0.3s ease;
} */

img{
    height: 13em; 
}

.footer{
    background-color: #03045E;
    margin-top: 100px;
    text-align: center;
}